*{
    margin: 0;
    padding: 0;
}
.head{
    background-color: black;
}
.logo{
   display: block;
   margin: auto;
   width: 50%;
   height: 100px;
}
.navbar{
    margin: 5px;
    background-color: none;
   
}
.navbar-light .navbar-brand {
    color: orange;
   
}
.d-flex{
 width: 350px;
}
.d-flex input{
    background: none;
    border: 1px solid orange;
    color: orange;
    box-shadow: none;
}
.btn-outline-success {
    color: orange;
    border: 1px solid orange;
    box-shadow: none;
}
.btn:hover{
    background: orange;
    color: black;
    border: 1px solid orange;
    box-shadow: none;

}
.container{
    display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   gap: 20px;
}
.card{
  
    margin: 2px;
    padding: 2px;
    width: 140px;
    height: 230px;
    font-size: 1px;
    align-items: center;
    box-shadow: 2px 5px 5px 2px #C8C8C8;
}
.card img{
    width: 120px;
    height: 100px;
    margin: 4px;
}
.card-body{
    padding: 2px;
}
.card-title{
    font-size: 10px;
}
.card-body a{
    font-size: 10px;
    background: none;
    border: 1px solid rgb(255, 94, 0);
    color: rgb(255, 94, 0);
    height: 30px;
    width: 100%;
    border-radius: 0;
    margin: "5px 0 5px 0";

}
.form-control:focus{
  background: none;
  box-shadow: none;
  color: orange;
  border: 1px solid orange;
}

